.pp-menu {
    z-index: 30;
}

.w3-pp-color {
    color: _palette(fg) !important;
    background-color: _palette(bg-transparent) !important;
    transition: background-color 0s !important;
}

.w3-hover-pp-color-transparent {
    background-color: transparent !important
}

.w3-hover-pp-color {
    background-color: _palette(bg-transparent) !important
}

.w3-hover-pp-color:hover, .w3-hover-pp-color-transparent:hover {
    color: _palette(accent) !important;
    background-color: _palette(bg-transparent) !important
}

.pp-navbar-home {
  background-color: transparent;
  transition: background-color .3s ease;
}

.pp-navbar-section {
  background-color: _palette(bg-transparent);
  transition: background-color .3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pp-navbar-item-section-only {
  opacity: 0;
  transition: opacity .3s ease;
}

.pp-menu #burger .w3-bar-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
